
* {
    font-family: 'Akshar', sans-serif;
}
.UserProfileContainer {
    border: 1px solid;
    margin: auto;
    overflow: hidden;
}

.userprofile-image {
    display: inline-block;
    align-items: middle;
    padding: 1rem;
}

.img {
    border-radius: 50%;
    border: 10px solid;
    vertical-align: middle;
}

.userName {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
    vertical-align: middle;
    padding-left: 2rem;
    }

.DeletePost {
   float: right;
   vertical-align: middle;
   padding-right: 2rem;
   padding-top: 5rem;
   font-size: 55px;
}
  



    
 
